html {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    background-color: brown;
}

body{
    height: 100%;
    display: grid;
   

    grid-template-areas:
    'header header '
    'sideBar main ';

}
.header { grid-area: header;
background-color: teal; }
.sideBar { grid-area: sideBar;
background-color: aquamarine; }
.main { grid-area: main; 
background-color: bisque;}
.modal {
    opacity: 0; 
    visibility: hidden; /* Hidden and non-interactable */
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000; 

    background-color: beige;
  }

  .modal.show {
    opacity: 1; 
    visibility: visible; 
  }